<div class="container-fluid">
    <h1 class="mt-4">Clientes</h1>
   


<div class="container-fluid">
    <form class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-4">Cadastro</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Id" disabled>
            </div>
            <div class="col">
                <!-- First name -->
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" disabled placeholder="Data cadastro">
            </div>

        </div>

        <div class="form-row mb-4">
            <div class="col">
        <!-- E-mail -->
        <input type="name" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Nome">
                </div>
        <!-- Password -->
        <div class="col">

        <input type="text" id="defaultRegisterFormPassword" class="form-control" placeholder="CPF"
            aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            Informe um CPF valido
        </small>
        </div>
        </div>



        <!-- Sign up button -->
        <button class="btn btn-success" type="submit">
            
            <i class="fa fa-save"></i>   Salvar</button>


    </form>


</div>